<div class="sky-tabset-vertical">
  <div 
    #contentWrapper
    class="sky-tabset-vertical-buttons"
    [@tabGroupEnter]
    *ngIf="tabsVisible()"
  >
    <ng-container *ngFor="let tab of tabs; let i = index;">

      <!-- for groups -->
      <ng-template [ngIf]="tab && tab.isGroup()">
        <sky-tab-group
          [groupHeading]="tab.tabHeading"
          [disabled]="tab.disabled"
          [subTabs]="subTabs(tab)"
          (tabClick)="selectTab($event)"
        >
        </sky-tab-group>
      </ng-template>

      <!-- for non group tabs -->
      <ng-template [ngIf]="tab && !tab.isGroup()">
        <sky-tab-vertical-button 
          [tab]="tab"
          [first]="i === 0"
          (tabClick)="selectTab(tab)"
        >
        </sky-tab-vertical-button>
      </ng-template>
    </ng-container>
  </div>

  <div
    class="sky-tabset-vertical-content"
    [@contentEnter]
    *ngIf="contentVisible()"
  > 
    <div #verticalTabContent></div>
    <button 
      *ngIf="isMobile()"
      (click)="showTabs()"
      class="sky-btn sky-btn-primary sky-vertical-tabset-show-tabs"
    >
      <i class="fa fa-chevron-left"></i>
      {{ showTabsText }}
    </button>
  </div>
</div>
  